<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SB ADMIN</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="contianer">
        <div class="nav">
            <div class="sbadmin"></div>
            <h2 style="color: white;">SB ADMIN</h2>
            <hr>
            <div class="navboxdas"></div>
            <p style="color: white;">Dashborad</p>
            
            <hr>
            <p class="textmain">INTERFACE</p>
            <div class="navbox"></div>
            <p class="navtextp">Components</p>
            <div class="navbox"></div>
            <p class="navtextp">Utilities</p>
            <hr>
            <p class="textmain">ADDONS</p>
            <div class="navbox"></div>
            <p class="navtextp">Pages</p>
            <div class="navbox"></div>
            <p class="navtextp">Charts</p>
            <div class="navbox"></div>
            <p class="navtextp">Tables</p>
            <hr>
        </div>
        <div class="head">
                <div class="searchbox">
                    <p>Search for...</p>
                </div>
                <div class="searchbox2"></div>
                    <div class="headbox1"></div>
                <div class="headtext">
                    <p>User Name</p>
                </div>
                    <div class="headborder"></div>
                    <div class="headbox2"></div>
                    <div class="headbox3"></div>
        </div>
        <div class="dashborad">
            <div class="reportbox">
                <p>Genarate Report</p>
            </div>
           <h1>Dashborad</h1>
        </div>
        <div class="dashblock1">
            <div class="dashbox"></div>
            <div class="dashtext">
                <div class="dashhead1">Earnings (Monthly)</div>
                <div class="dash-p">$40,000</div>
            </div>
        </div>
        <div class="dashblock2">
            <div class="dashbox"></div>
            <div class="dashtext">
                <div class="dashhead2">Earnings (Annual)</div>
                <div class="dash-p">$215,000</div>
            </div>
        </div>
        <div class="dashblock3">
            <div class="dashbox"></div>
            <div class="dashtext">
                <div class="dashhead3">Tasks</div>
                <div class="dash-p">50%</div>
            </div>
        </div>
        <div class="dashblock4">
            <div class="dashbox"></div>
            <div class="dashtext">
                <div class="dashhead4">Pending Requests</div>
                <div class="dash-p">18</div>
            </div>
        </div>

        <div class="Overview">
            <div class="Body-Head">       
                <p>Earnings Overview</p>
            </div>
        </div>
        <div class="RS">
            <div class="Body-Head">
            <p>Revenue Sources</p>
        </div>
        </div>
    </div>
</body>
</html>